body {
  font-family: Arial, Helvetica, sans-serif !important;
}

.tasks-list-container {
  width: 400px;
  overflow-y: auto;
  height: 450px;
  background-color: #d3d3d3;
}

.summery table {
  width: 400px;
  border-bottom: 2px solid #d3d3d3;
}

.task-listing{
  border: none
}

.center-part {
  width: 100%;
}

.right-part {
  float: right;
  text-align: center;
}

.tasks-header-container {
  width: 400px;
}

.toggle_0 {
  text-decoration: line-through;
  color: grey;
}

.span-btn {
  padding: 12px 5px 12px 5px;
  background-image: linear-gradient(#fff, #9f9f9f);
}

.circle-btn {
  padding: 4px 7px 4px 7px;
  border: 2px solid black;
  border-radius: 100%;
  font-weight: 900;
  font-family: "Lucida Grande", tahoma, arial, sans-serif;
}

.tasks-header{
  position: relative;
  padding-left: 12px;
  background-image: linear-gradient(#ffe12f, #e17103);
  box-shadow: 0px 5px 7px grey;
}

.tasks-header h3{
  display: inline-block;
  width: 80%;
}

article.tasks-header > a {
  text-decoration: none;
}

.header-text {
  display: inline;
  width: 100%;
}

.task-elem:nth-child(odd){
  background-color: rgb(254, 255, 246);
  border-bottom: 1px solid black;
  padding: 8px
}

.task-elem:nth-child(even){
  background-color: #fff2bd;
  border-bottom: 1px solid black;
  padding: 8px
}

.body {
  padding-top: 15px;
}

.task-rem {
  content: 'x';
  color: #000;
  font-weight: bold;
  font-family: Arial, sans-serif;
  display: inline;
}

.task-rem:hover {
  color: #666;
  cursor: pointer;
}


.task-new-form {
  /*border: 1px solid black;*/
}

.submit-btn {
  width: 30%;
  padding: 3px;
  margin: 5px;
  background-color: #ffad13;
  border: 1px solid #ff8346;
  box-shadow: 1px 1px 4px grey;
}

.submit-btn:hover {
  background-color: #ffe414;

}

.new-record {
  width: 96%;
  border: 2px dotted #d3d3d3;
}

.task-inp-field {
  display: block;
  width: 97%;
  box-sizing: border-box;
  height: 28px;
  padding-left: 12px;
  padding-right: 12px;
  float: left;
  margin: 5px 0px 5px 5px;
}

#content-inp, #content-inp-edit {
  height: 76px;
}

.chkbx-container {
  display: inline;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.task-status-chkbx {
  /*position: absolute;*/
  display: inline;
  opacity: 0;
  cursor: pointer;
}

.chkbxInput{
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 7px;
}

.chkbx-container:hover input ~ .chkbxInput {
  background-color: #ccc;
}

.chkbx-container input:checked ~ .chkbxInput {
  background-color: #6b6b6b;
}
/* Create the checkmark/indicator (hidden when not checked) */
.chkbxInput:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.chkbx-container input:checked ~ .chkbxInput:after {
  display: block;
}

/* Style the checkmark/indicator */
.chkbx-container .chkbxInput:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container-form {
  overflow: auto; /* Enable scroll if needed */
  /*background-color: rgb(0,0,0); !* Fallback color *!*/
  /*background-color: rgba(0,0,0,0.4); !* Black w/ opacity *!*/
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
}

.new-record {
  background-color: white;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border: 1px solid #888;
}


.task-content-span {
  position: relative;
  font-size: 13px;
  color: #666666;
}

#err-label, #err-label-edit {
  color: red;
  font-: italic;
}

.new-rec {
  width: 100%;
}

.edit-rec {
  width: 100%;
}

.about-ol {
  line-height: 30px;
}

@media only screen and (min-width: 1600px) {
  .new-rec {
    width: 400px;
  }

  .new-record {
    width: 99%;
    border: 2px dotted #d3d3d3;
  }
}

@media only screen and (max-width: 1600px) {

  .tasks-list-container{
    width: 40%;
  }

  .summery table {
    width: 40%;
  }

  .tasks-header-container {
    width: 40%;
  }

  .task-new-form {
    width: 40%;
  }

  .new-record {
    width: 97.6%;
    border: 2px dotted #d3d3d3;
  }

}

@media only screen and (max-width: 1500px) {
  .new-record {
    width: 98.3%;
    border: 2px dotted #d3d3d3;
  }
}

@media only screen and (max-width: 1400px) {
  .new-record {
    width: 98%;
    border: 2px dotted #d3d3d3;
  }
}

@media only screen and (max-width: 1280px) {

  .tasks-list-container{
    width: 40%;
  }

  .summery table {
    width: 40%;
  }

  .tasks-header-container {
    width: 40%;
  }

  .task-new-form {
    width: 40%;
  }

  .new-record {
    width: 97.5%;
    border: 2px dotted #d3d3d3;
  }

}

@media only screen and (max-width: 1024px) {

  .tasks-list-container{
    width: 50%;
  }

  .summery table {
    width: 50%;
  }

  .tasks-header-container {
    width: 50%;
  }

  .task-new-form, .task-edit-form {
    width: 50%;
  }

  .new-record {
    width: 97.5%;
    border: 2px dotted #d3d3d3;
  }
}

@media only screen and (max-width: 800px) {

  .tasks-list-container{
    width: 60%;
  }

  .summery table {
    width: 60%;
  }

  .tasks-header-container {
    width: 60%;
  }

  .task-new-form {
    width: 60%;
  }

  .new-record {
    width: 96.6%;
    border: 2px dotted #d3d3d3;
  }
}

@media only screen and (max-width: 640px) {

  .tasks-list-container{
    width: 75%;
  }

  .summery table {
    width: 75%;
  }

  .tasks-header-container {
    width: 75%;
  }

  .task-new-form {
    width: 75%;
  }

  .new-record {
    width: 96.6%;
    border: 2px dotted #d3d3d3;
  }
}

@media only screen and (max-width: 480px) {

  .tasks-list-container{
    width: 100%;
  }

  .summery table {
    width: 100%;
  }

  .tasks-header-container {
    width: 100%;
  }

  .task-new-form {
    width: 100%;
  }
}

@keyframes animatetop {
   from {top: -300px; opacity: 0}
   to {top: 0; opacity: 1}
 }
