body {
  font-family: Arial, Helvetica, sans-serif !important;
}

.tasks-list-container {
  width: 400px;
  overflow-y: auto;
  height: 450px;
  background-color: #d3d3d3;
}

.summery table {
  width: 400px;
  border-bottom: 2px solid #d3d3d3;
}

.tasks-header-container {
  width: 400px;
}

.toggle_0 {
  text-decoration: line-through;
  color: grey;
}

.span-btn {
  padding: 12px 5px 12px 5px;
  background-image: linear-gradient(#fff, #9f9f9f);
}

.circle-btn {
  padding: 4px 7px 4px 7px;
  border: 2px solid black;
  border-radius: 100%;
  font-weight: 900;
  font-family: "Lucida Grande", tahoma, arial, sans-serif;
}

.tasks-header{
  position: relative;
  padding-left: 12px;
  background-image: linear-gradient(#ffe12f, #e17103);
  box-shadow: 0px 5px 7px grey;
}

.tasks-header h3{
  display: inline-block;
  width: 80%;
}

article.tasks-header > a {
  text-decoration: none;
}

.header-text {
  display: inline;
  width: 100%;
}

.task-elem:nth-child(odd){
  background-color: rgb(254, 255, 246);
  border-bottom: 1px solid black;
  padding: 8px
}

.task-elem:nth-child(even){
  background-color: #fff2bd;
  border-bottom: 1px solid black;
  padding: 8px
}

.body {
  padding-top: 15px;
}

.task-rem {
  content: 'x';
  color: #000;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.task-rem:hover {
  color: #666;
  cursor: pointer;
}


.task-new-form {
  width: 400px;
  border: 1px solid black;
}

.submit-btn {
  width: 30%;
  padding: 3px;
  margin: 5px;
  background-color: #ffad13;
  border: 1px solid #ff8346;
}

.submit-btn:hover {
  background-color: #ffe414;
}

#new-task {
  width: 400px;
  border: 2px dotted #d3d3d3;
}

.task-inp-field {
  display: block;
  width: 97%;
  box-sizing: border-box;
  height: 28px;
  padding-left: 12px;
  padding-right: 12px;
  float: left;
  margin: 5px 0px 5px 5px;
}

#content-inp {
  height: 56px;
}

.task-status-chkbx {

}

.task-rem {
  float: right;
}

.container-form {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
