<div class="about-container">
  <div class="about-help">
    <h2>About</h2>
    <p>
      This is a tasks managing application, you can add, remove, edit and mark a task as finished
    </p>
    <h2>How to use</h2>
    <p>
      Note: If on mobile, you might need to scroll down to see the add / edit forms on some devices<
    </p>
    <h3>Add task</h3>
    <p>
      The interface is quite simple, to add a task, click on '+' sign - this will toggle an "add task" form.
      inside the form there are 2 input fields:
    </p>
    <ol class="about-ol">
      <li>Title - the header of the task, for example: "meeting with John"</li>
      <li>Content - the description or the body of the task, for example "the meeting will take place at... etc."</li>
    </ol>

    <h3>Remove task</h3>
    <p>
      To remove a task, click on the 'X' sign in the right side of the task element.
    </p>
    <h3>Toggle finished</h3>
    <p>
      You can either mark a task as "finished" or "unfinished". To achieve that, click on the checkbox in the lift side of the task element
    </p>
    <h3>Edit task</h3>
    <p>
      To edit a task, click on title or the header of the task - this will toggle an "edit task" form.
      The input element will be populated with the title and the content. You can click on "reset" button, it will clean the input fields.
    </p>
  </div>
</div>
